* {
    box-sizing: border-box;
}

.header {
    background-color: #ebebeb;
    text-align: center;
    width: 960px;
    padding: 20px;
    margin-left: 150px;
}

.color {
    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.nav {
    background-color: #ebebeb;
    text-align: center;
    width: 960px;
    padding: 20px;
    margin-left: 150px;
    margin-top: -10px; 
}

.section {
    float: left;
    clear: none;
    background-color: #ebebeb;
    text-align: center;
    width: 495px;
    padding: 20px;
    margin-left: 150px;
    height: 270px;
}

.aside {
    float: left;
    background-color: #ebebeb;
    text-align: center;
    width: 445px;
    padding: 20px;
    height: 270px;
    margin-top: -21px;
    margin-left: 20px;
}

.footer {
    background-color: #ebebeb;
    text-align: center;
    width: 960px;
    padding: 20px;
    height: 90px;
    margin-top: 250px;
    margin-left: 150px;
}

.article {
    background-color: #777;
    color: white;
    width: 472px;
    margin-left: -9px;
    height: 180px;
    padding: 2px;
}

.headers {
    background-color: #ebebeb;
    color: black;
    width: 438px;
    margin-left: 14px;
    height: 45px;
    padding: 1px;
}

.paragraph {
    background-color: #ebebeb;
    color: black;
    width: 438px;
    margin-left: 14px;
    height: 45px;
    margin-top: -8px;
   
}

